@media screen and (max-width:576px )
{

    @font-face
    {
        font-family:"Upheaval TT (BRK)";
        src:url('../font/upheavtt.ttf') format("ttf");
        font-weight: normal;
        font-style: normal;
    }
    body
    {
        background-color: #767171;
        font-family:"Upheaval TT (BRK)";
        margin:1.5%;
    }

    .entete
    {
       height: 15vh;
        display: flex;
        justify-content:center ;

    }
    #titre_afterbirth{
        width: 80%;
        height: 80%;
    }
    #titrepc_afterbirth{
        display: none;
    }


    #btnWrath:active,#btnRebirth:active,#btnAfterbirth:active /*couleur des boutons actifs*/
    {

        background:#404040;
        color: #5b9bd5;
        border-color: #262626;
        border-width:1px;
    }
    #btnWrath,#btnRebirth,#btnAfterbirth /*couleur des boutons*/
    {

        background:#afabab;
        color: #595959;
        border-color: #262626;
        border-width:1px;
        width: 32%;
        font-size: 1em;
        height:100%;
        box-shadow: #262626 0px -2px 6px -3px;
    }
   /* #btnWrath
        {
        font-size: 0.75em;
        object-fit: cover;
        height: 2.55em;

        }
    #btnRebirth, #btnAfterbirth
        {
        padding-bottom: 1%;
        }*/
    #btn_jeux
        {
        text-align: center;

        }
    #select_persos
    {
        height: 12vh;
        background-color:#404040;
        color: #5b9bd5;
        border: solid #262626;
        border-width:1px;
        justify-content: space-around;
        display: flex;
        box-shadow: #3d3d3d 0px 0px 6px;

    }
    .cercle
    {
        border-radius: 50%;
        background-color: #767171;
        height: 9vh;
        width: 9vh;
        margin: auto;
        border: solid #5b9bd5;
        border-width: 1px;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .cercle:active
    {
        box-shadow: 0px 0px 6px  #5b9bd5;
    }

/*zone de recherche*/

    #plus
    {
        color: #5b9bd5;
        font-size: 6vh;
    }
    #zone_rech
    {
        background-color: #3d3d3d;
        display: flex;

    }
    .recherche{
        width: 13vh;
        height: 5vh;
        margin: auto;
        box-shadow: #3d3d3d 0px 0px 6px;
        border: solid #262626;
        border-width: 1px;
    }
    .btn_search
    {
        color: #262626;
        width: 12vh;
        height: 5vh;
        margin: auto;
    }
    .btn_imgsearch{
        width: 5vh;
        height: 5vh;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .imgsearch
    {
        width: 200%;
    }
    /*fin zone recherche*/
    #txt_synergy
    {
        font-size: 2vh;
        text-align: center;
        height: 5vh;
        margin-top: 3.5vh;
    }
    .video
    {
        height: 40vh;
    }
    .video_result
    {
        width: 100%;
        height: 40vh;
        box-shadow: #3d3d3d 0px 0px 8px;
    }

    footer
    {
        height: 3vh;
        font-size: 1.5vh;
        position: absolute;
        bottom: 0;
    }

}
@media screen and (max-width:340px ) {
}


