@media screen and (max-width: 399px) {
    body {
        font-size: 0.625em;
        background: none;
    }

    body header img /*logo Nom prenom*/
    {
       width:100%;
    }

    #civil /*infos perso*/
    {
        font-size: 1.7em;
        text-align: center;
        padding-left: 12%;
        width:100%;
    }

    email {
        color: #940507;
    }

    #dev /*titre developpeur*/
    {
        font-size: 2.3em;
        margin-top: 5em;
        padding-left: 15%;
        width:100%;
    }

    main header /*Titres caté formation/compet/expe*/
    {
        background: lightgrey;
        border-radius: 10px;
        text-align: center;

    }

    main header:hover { /*info déroulant*/
        background-color: darkgrey;
    }

    table {
        display: none;
        font-size: 0.7em;
    }
    #experience table
    {
        font-size: 0.65em;
    }
    #competence ul
    {
      font-size: 0.6em;
    }
    #competence h1
    {
        font-size: 1.5em;
    }
    main header:hover + table
    {
    display: block;
    }

    ul,h1
    {
         display: none;
     }
    #competence header:hover~ul, #competence header:hover~h1{
    display:block;
    }
}